.header {
  background-color: $base-secondary;
  color: $base-white;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.header__container {
  @include container;

  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: auto 142px;
  grid-template-rows: 42px auto;
  gap: 14px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  justify-self: end;

  @media (min-width: $tablet-width) {
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 32px;
    padding-right: 31px;
  }

  svg {
    color: $base-white;
  }
}

.header__nav {
  order: -1;

  @media (max-width: $mobile-width-only) {
    grid-row: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.header__phone {
  @include big-link-dark-theme;

  justify-self: end;
  margin-top: 3px;
  align-self: start;
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    align-self: center;
  }
}

.header__phone.disabled {
  pointer-events: none;
  cursor: default;
  color: $color-disabled;
}
