.link {
  color: $base-primary;

  &[href]:hover {
    color: $secondary-opacity;
  }

  &[href]:focus-visible {
    color: $base-secondary;
  }

  &[href]:active {
    color: $base-active;
  }

  &--dark-theme {
    color: $base-white;

    &[href]:hover {
      color: $white-opacity;
    }

    &[href]:active {
      color: $base-active;
    }

    &[href]:focus-visible {
      color: $base-primary;
    }
  }
}

.link.disabled {
  pointer-events: none;
  cursor: default;
  color: $color-disabled;
}
