.site {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    gap: 26px;
  }

  @media (max-width: $tablet-width-only) {
    @include button-big;
  }

  @media (min-width: $desktop-width) {
    @include text-nav;

    flex-direction: row;
    gap: 21px;
    margin-top: 1px;
  }
}

.site__link {
  @include nav-link-dark-theme;
}

.site__link.disabled {
pointer-events: none;
cursor: default;
color: $color-disabled;
}
