div.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  justify-content: space-between;
  max-width: 88px;
  height: 16px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    max-width: 100px;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    bottom: 92px;
    left: auto;
    right: 120px;
    transform: none;
  }
}

.swiper-pagination.swiper-pagination-bullets {
  span.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 1px solid $base-white;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    opacity: 1;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: $color-grey;
    }

    &:active {
      background-color: $white-opacity;
    }

    &:focus {
      background-color: transparent;
      outline: 1px solid $white-opacity;
      outline-offset: 1px;
    }
  }

  span.swiper-pagination-bullet-active {
    background-color: $base-white;
  }
}
