*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  @include font-family;
  @include text-regular;
  font-weight: 400;
  font-style: normal;
  background-color: $base-white;
  color: $base-primary;
  margin: 0;
}
